// imports
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --title-font: "Poppins", serif;
  --title-size: 26pt;
  --title-color: #333;
  --body-font: "Lato", sans-serif;
  --primary-color: #f5f5f5;
  --secondary-color: #e6e6e6;
  --secondary-color-highlight: #e2e2e2;
  --accent-1: #4c585b;
  --accent-1-highlight: #66787b;
  --accent-2: #7e99a3;
  --accent-2-highlight: #93aeb8;
  --accent-3: #80939e;
  --accent-3-highlight: #bad6e2;
  --accent-4: #f4edd3;
  --border-radius: 0.5rem;
}

// mixins
@mixin section-header {
  font-size: var(--title-size);
  font-family: var(--title-font);
  text-align: center;
  color: var(--accent-1);
}

@mixin container {
  padding: 2rem;
}

@mixin container-grid {
  @include container;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

// default styles
a {
  text-decoration: none;
  color: var(--accent-2);
}

html {
  height: 100%;
  box-sizing: border-box;
}

html.dark {
  // https://colorkit.io/shades-tints/#bad6e2-6
  --primary-color: #263035;
  --secondary-color: #445158;
  --secondary-color-highlight: #4e5b61;
  --accent-1: #c3dbe6;
  --accent-2: #bad6e2;
  --accent-3: #9eb4c1;
  --title-color: #f5f5f5;
}

body {
  font-family: var(--body-font);
  margin: 0;
  height: 100%;
  color: var(--accent-1);
  background-color: var(--primary-color);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  color: var(--accent-2);
}

.prose {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

// Breakpoint mixins
@mixin breakpoint($point) {
  @if $point == laptop {
    @media (max-width: 1366px) {
      @content;
    }
  }
  @if $point == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if $point == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $point == small-mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
}
