@use "sass:color";
@use "../styles/base.scss";

.project {
  &__container {
    margin-top: 100px;
    display: grid;
    gap: 1.5rem;
    text-align: center;
    vertical-align: middle;
    justify-items: center;

    @include base.breakpoint(tablet) {
      margin-top: 60px;
    }

    @include base.breakpoint(mobile) {
      margin-top: 50px;
    }
  }
  &__name {
    font-family: var(--title-font);
    color: var(--accent-2);
    font-size: 20pt;
    margin-bottom: -0.5rem; /* compensate for visually uneven spacing */
    view-transition-name: project-item-name;
  }
  &__desc {
    font-size: 14pt;
    margin-left: 25%;
    margin-right: 25%;
    view-transition-name: project-item-desc;

    @include base.breakpoint(small-mobile) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.6rem;
    view-transition-name: project-item-tags;

    &__tag {
      padding: 0.5rem;
      font-family: var(--body-font);
      background-color: var(--accent-2);
      color: var(--primary-color);
      border-radius: 0.3rem;
      border: none;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;
      &:hover {
        background-color: var(--accent-1);
        color: var(--secondary-color);
      }
    }
  }
  &__buttons {
    display: inline-flex;
    gap: 1.5rem;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      &:first-child {
        background-color: var(--secondary-color);
        color: var(--accent-1);
        padding: 1rem;
        border-radius: 0.4rem;
        transition: 0.1s;
        &:hover {
          background-color: var(--secondary-color-highlight);
        }
      }
      &:nth-child(2) {
        color: var(--accent-1);
        transition: color 0.1s;
        &:hover {
          color: var(--accent-2);
        }
      }
    }
  }
  &__images {
    margin-top: 1rem;
    margin-bottom: 45px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 25px;
    width: 80%;
    object-fit: contain;
    img {
      max-width: 80%;
      max-height: 768px;
      view-transition-name: project-item-image;
    }
  }
}
