@use "../styles/base";

.nav {
  font-family: var(--title-font);
  font-size: 1.5rem;
  place-items: center;
  justify-self: center;
  position: relative;

  @include base.breakpoint(mobile) {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  &__ul {
    list-style: none;
    display: inline-flex;
    gap: 1rem;
    position: relative;
    padding: 0;
    margin: 0;

    @include base.breakpoint(mobile) {
      gap: 0.5rem;
    }
  }

  &__item {
    padding: 0.75rem 1.5rem;
    border-radius: var(--border-radius);
    position: relative;
    transition: color 0.2s ease, background-color 0.2s ease;

    @include base.breakpoint(mobile) {
      padding: 0.5rem 1rem;
    }

    &:hover {
      background-color: var(--secondary-color);
    }

    &--active-indicator {
      position: absolute;
      background-color: var(--accent-1);
      border-radius: var(--border-radius);
      will-change: transform;
      transform: translate3d(0, 0, 0);
      transition: transform 0.3s cubic-bezier(0.72, 0.21, 0.23, 0.75),
        background-color 0.3s ease, opacity 0.3s ease;
      z-index: -1;
    }

    &--active {
      color: var(--primary-color);
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }

    &__link {
      color: inherit;
    }
  }
}

@keyframes shake {
  0% {
    transform: translate3d(var(--translateX), var(--translateY), 0)
      translateX(0);
  }
  25% {
    transform: translate3d(var(--translateX), var(--translateY), 0)
      translateX(-5px);
  }
  50% {
    transform: translate3d(var(--translateX), var(--translateY), 0)
      translateX(5px);
  }
  75% {
    transform: translate3d(var(--translateX), var(--translateY), 0)
      translateX(-5px);
  }
  100% {
    transform: translate3d(var(--translateX), var(--translateY), 0)
      translateX(0);
  }
}

.shake-animation {
  animation: shake 0.5s ease-in-out infinite;
  --translateX: 0px;
  --translateY: 0px;
}
