@use "sass:color";
@use "../styles/base";

.project__contents {
  background-color: base.$secondary-color;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-radius: 0.6rem;
  transition: 0.1s;
  &:hover {
    background-color: color.adjust(base.$secondary-color, $lightness: -3%);
    // box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
  }
  &__name {
    font-family: base.$title-font;
    color: base.$accent-1;
    font-size: 16pt;
    font-weight: 500;
    vertical-align: middle;
  }
  &__desc {
    margin: 0;
    font-size: 14pt;
    color: base.$accent-2;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.6rem;

    &__tag {
      padding: 0.5rem;
      background-color: base.$primary-color;
      border-radius: 0.3rem;
      color: base.$accent-1;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:hover {
        background-color: base.$accent-1;
        color: base.$secondary-color;
      }
    }
  }
  &__image > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 0.6rem;
  }
}
