@use "sass:color";
@use "../styles/base";

.project__card {
  background-color: var(--secondary-color);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-radius: 0.6rem;
  transition: 0.3s background-color;

  &:hover {
    background-color: var(--secondary-color-highlight);
  }
  &__name {
    font-family: var(--title-font);
    color: var(--accent-1);
    font-size: 16pt;
    font-weight: 500;
    vertical-align: middle;
  }
  &__desc {
    margin: 0;
    margin-top: -12px;
    font-size: 14pt;
    color: var(--accent-3);
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.6rem;

    &__tag {
      padding: 0.5rem;
      font-family: var(--body-font);
      background-color: var(--accent-2);
      color: var(--primary-color);
      border-radius: 0.3rem;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:hover {
        background-color: var(--accent-1);
        color: var(--secondary-color);
      }
    }
  }
  &__image > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 0.6rem;
  }
}
